* { 
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    
  } 
  
  
/* /////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////style the header/////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////// */
header{
    display:block;
    /* margin-bottom: 1.5em; */
}
nav{
    position:relative;
}
#nav{
    /* padding:10px; */
}

/* #imageDiv{
    margin-top: -13%;
} */
#nav .brand-name{
    background: url(../image/logo_transparent_trimmedPic.png);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    width: 200px;
}
#heading{
    position:absolute;
    width:100%;
    text-align: center;
    top:40%;
    z-index:1;
    font-size: 2em;
}
#heading h1{
    width: 38%;
    background: whitesmoke;
    color: #843a23;
    margin: 0 auto;
    text-align: center;
}
#nav, footer{
  background:#1b1a1a;
}
#nav li, footer ul{
  display:inline-block;
  padding:20px;
  vertical-align: middle;
}
#nav li a, .nav-right, footer ul a{
  text-decoration: none;
  color: gray;
  cursor: pointer;
}
.nav-right{
  float:right;
  font-size: 18px
}
.brand-name{
  font-size: 2em;
  font-style:italic;
}
.nav-item{
  font-size:18px;
}
/* .header {
    overflow: hidden;
    background-color: #333;
    padding: 7px 10px;
    
  }
  
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header div.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .logoPos{
    margin-top: -18%;

  }
  
  .header a.active {
    background-color: #b2ebf9;
    color: #333;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  } */
  /* main */
  main{
    margin-left: 1%;
    font-size:25px;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
  }
  main ul, main ol{
    margin-left: 20px;
  }
  .intro{
    /* margin-top: -12%;
    margin-left: 1%; */
  }
  .intro div ul{
    margin-left: 20px;
  }
  .wrapper{
    /* position: absolute; 
    top: 64%; */
    transform: translateY(50%);
    width: 100%;
    /* padding: 0 20px; */
    display:inline-block
     /* margin-left: -29%; */
}
.bmi-calculator{
  font-size: 50px;
  transform: translateY(35px);
}

.content-form{
  font-size: 20px;
    max-width: 550px;
    /* margin: 0 auto; */
    background:#1b1a1a;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.13) ;
}
.input-filed{
    display: flex;
    flex-direction: column;
    margin-right:4% ;
}
.input-filed .input,.msg{
      width: 48%;}
.input-filed .input{
margin: 10px 0;
border:0;
border-bottom: 2px solid #c5ecfd;
color: #000000;
width: 100%;
}
.input-filed{
    color: black;
    /* margin-left: 1%; */
}
.msg{
    height: 35px;
}
::-webkit-input-placeholder{
    color: gray;
}
::-moz-input-placeholder{
    color: #gray;
}
::-ms-input-placeholder{
    color: #gray;
}

.btn{
  background: #b2ebf9;
  text-align: center;
  padding: 15px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase; 
}

label{
    color: white;
}
form input{ 
  border-radius: 10px;
  padding:2px 7px;
}
.ruslt{
    /* margin-top: -5%; */
}
.transform{
  position:relative;
  height:400px;
   /* margin-left: 45%;
    margin-top: -38px; */
}
.move-image-right{
  position: absolute;
  transform: translateY(-15%);
  z-index: -1;
  top: 0;
  left: 50%;
}
.rusltValue{
    /* overflow: hidden; */
    background-color: #ffc32c;
    padding: 7px 10px;
    margin-left: 0%;
    margin-right: 66%;
    width: 45%;
    border: 1px solid #635d5d;
    border-radius: 5px;
}
.para{
  margin-left: 1%;
}

.style-results, .ruslt, .rusltValue{
  margin: 20px 20px;
}
.ruslt, .rusltValue{
  margin-top:0;
}
.style-results img{
  display:block;
  /* width: 500px; */
  height:500px;
  margin:0 auto;
}
.style-results > *{
  margin: 20px 0;
}